In [62]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import mpl_toolkits
import matplotlib.pyplot as mlt
from sklearn.preprocessing import *
%matplotlib inline
from sklearn import preprocessing

In [63]:
df1 = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')
df = pd.concat([df1, df2])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [64]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [65]:
df.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [66]:
dt = df.dropna(subset=["Survived"])

In [67]:
dt

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376

In [68]:
dt.isnull().sum()

Age            177
Cabin          687
Embarked         2
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived         0
Ticket           0
dtype: int64

In [69]:
dt['Has_Cabin'] = np.where(dt['Cabin'].isnull(), 'yes', 'no')
dt

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,yes
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,no
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,yes
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,yes
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,yes
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,no
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,no
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,yes
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,yes
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,yes
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,yes
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,yes
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,yes
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,yes
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,yes
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,yes
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,no
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,yes
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,no
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,yes
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,yes
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,yes
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,no
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,yes
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,yes
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,no
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,yes
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,yes
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,yes
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,yes
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,no
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,yes
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,yes
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,yes
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,no
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,no
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,yes
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,yes
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,yes
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,yes
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,yes
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,yes
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,no
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,yes
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,yes
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,yes
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,yes
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,yes
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,yes
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,yes
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,no
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,yes
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,no
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,yes

In [70]:
dt['Title']= dt.Name.str.extract(r',\s*([^\.]*)\s*\.', expand=False)
dt

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes,Mr
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no,Mrs
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes,Miss
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no,Mrs
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes,Mr
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,yes,Mr
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,no,Mr
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,yes,Master
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,yes,Mrs
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,yes,Mrs
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,no,Miss
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,no,Miss
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,yes,Mr
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,yes,Mr
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,yes,Miss
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,yes,Mrs
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,yes,Master
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,yes,Mr
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,yes,Mrs
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,yes,Mrs
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,yes,Mr
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,no,Mr
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,yes,Miss
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,no,Mr
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,yes,Miss
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,yes,Mrs
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,yes,Mr
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,no,Mr
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,yes,Miss
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,yes,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,yes,Mr
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,no,Mrs
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,yes,Miss
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,yes,Mr
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,yes,Mrs
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,yes,Miss
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,no,Mr
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,yes,Mr
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,yes,Master
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,yes,Mr
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,no,Mrs
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,no,Mr
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,yes,Mr
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,yes,Mrs
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,yes,Miss
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,yes,Mr
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,yes,Mr
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,yes,Mr
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,no,Mrs
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,yes,Mrs
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,yes,Mr
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,yes,Miss
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,yes,Mr
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,yes,Mr
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,yes,Mrs
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,yes,Rev
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,no,Miss
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,yes,Miss
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,no,Mr
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,yes,Mr

In [71]:
dt =dt.fillna(dt.mean())

In [72]:
dt.mode()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title
0,29.699118,B96 B98,S,8.05,"Abbing, Mr. Anthony",0.0,1,3.0,male,0.0,0.0,1601,yes,Mr
1,NaN,C23 C25 C27,NaN,NaN,"Abbott, Mr. Rossmore Edward",NaN,2,NaN,NaN,NaN,NaN,347082,NaN,NaN
2,NaN,G6,NaN,NaN,"Abbott, Mrs. Stanton (Rosa Hunt)",NaN,3,NaN,NaN,NaN,NaN,CA. 2343,NaN,NaN
3,NaN,NaN,NaN,NaN,"Abelson, Mr. Samuel",NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,"Abelson, Mrs. Samuel (Hannah Wizosky)",NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,"Adahl, Mr. Mauritz Nils Martin",NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,"Adams, Mr. John",NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,"Aks, Mrs. Sam (Leah Rosen)",NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,"Albimona, Mr. Nassef Cassem",NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,"Alexander, Mr. William",NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,"Alhomaki, Mr. Ilmari Rudolf",NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,"Ali, Mr. Ahmed",NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,"Ali, Mr. William",NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,"Allen, Miss. Elisabeth Walton",NaN,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,"Allen, Mr. William Henry",NaN,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,"Allison, Master. Hudson Trevor",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,"Allison, Miss. Helen Loraine",NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,"Allum, Mr. Owen George",NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,"Andersen-Jensen, Miss. Carla Christine Nielsine",NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,"Anderson, Mr. Harry",NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,"Andersson, Master. Sigvard Harald Elias",NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,"Andersson, Miss. Ebba Iris Alfrida",NaN,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,"Andersson, Miss. Ellis Anna Maria",NaN,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,"Andersson, Miss. Erna Alexandra",NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,"Andersson, Miss. Ingeborg Constanzia",NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,"Andersson, Miss. Sigrid Elisabeth",NaN,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,"Andersson, Mr. Anders Johan",NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,"Andersson, Mr. August Edvard (""Wennerstrom"")",NaN,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,NaN,NaN,NaN,NaN,"Widegren, Mr. Carl/Charles Peter",NaN,862,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,NaN,NaN,NaN,NaN,"Widener, Mr. Harry Elkins",NaN,863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,NaN,NaN,NaN,NaN,"Wiklund, Mr. Jakob Alfred",NaN,864,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,NaN,NaN,NaN,NaN,"Wilhelms, Mr. Charles",NaN,865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,NaN,NaN,NaN,NaN,"Willey, Mr. Edward",NaN,866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866,NaN,NaN,NaN,NaN,"Williams, Mr. Charles Duane",NaN,867,NaN,NaN,NaN,NaN,NaN,NaN,NaN
867,NaN,NaN,NaN,NaN,"Williams, Mr. Charles Eugene",NaN,868,NaN,NaN,NaN,NaN,NaN,NaN,NaN
868,NaN,NaN,NaN,NaN,"Williams, Mr. Howard Hugh ""Harry""",NaN,869,NaN,NaN,NaN,NaN,NaN,NaN,NaN
869,NaN,NaN,NaN,NaN,"Williams, Mr. Leslie",NaN,870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
870,NaN,NaN,NaN,NaN,"Williams-Lambert, Mr. Fletcher Fellows",NaN,871,NaN,NaN,NaN,NaN,NaN,NaN,NaN
871,NaN,NaN,NaN,NaN,"Windelov, Mr. Einar",NaN,872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
872,NaN,NaN,NaN,NaN,"Wiseman, Mr. Phillippe",NaN,873,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,NaN,NaN,NaN,NaN,"Woolner, Mr. Hugh",NaN,874,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,NaN,NaN,NaN,NaN,"Wright, Mr. George",NaN,875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,NaN,NaN,NaN,NaN,"Yasbeck, Mr. Antoni",NaN,876,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,NaN,NaN,NaN,NaN,"Yasbeck, Mrs. Antoni (Selini Alexander)",NaN,877,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877,NaN,NaN,NaN,NaN,"Young, Miss. Marie Grice",NaN,878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,NaN,NaN,NaN,NaN,"Youseff, Mr. Gerious",NaN,879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,NaN,NaN,NaN,NaN,"Yousif, Mr. Wazli",NaN,880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,NaN,NaN,NaN,NaN,"Yousseff, Mr. Gerious",NaN,881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,NaN,NaN,NaN,NaN,"Yrois, Miss. Henriette (""Mrs Harbeck"")",NaN,882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
882,NaN,NaN,NaN,NaN,"Zabour, Miss. Hileni",NaN,883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
883,NaN,NaN,NaN,NaN,"Zabour, Miss. Thamine",NaN,884,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,NaN,NaN,NaN,NaN,"Zimmerman, Mr. Leo",NaN,885,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,NaN,NaN,NaN,NaN,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",NaN,886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,NaN,NaN,NaN,NaN,"de Mulder, Mr. Theodore",NaN,887,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,NaN,NaN,NaN,NaN,"de Pelsmaeker, Mr. Alfons",NaN,888,NaN,NaN,NaN,NaN,NaN,NaN,NaN
888,NaN,NaN,NaN,NaN,"del Carlo, Mr. Sebastiano",NaN,889,NaN,NaN,NaN,NaN,NaN,NaN,NaN
889,NaN,NaN,NaN,NaN,"van Billiard, Mr. Austin Blyler",NaN,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,NaN,NaN,NaN,NaN,"van Melkebeke, Mr. Philemon",NaN,891,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
dt["Categorical_age"] = pd.qcut(dt.Age,q= 4,labels = False)
dt["Categorical_fare"] = pd.qcut(dt.Fare,q= 4,labels = False)
dt.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title,Categorical_age,Categorical_fare
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes,Mr,0,0
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no,Mrs,3,3
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes,Miss,1,1
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no,Mrs,2,3
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes,Mr,2,1

In [74]:
new = dt.drop(['Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'],axis =1)
new

,Cabin,Embarked,Pclass,Sex,Survived,Has_Cabin,Title,Categorical_age,Categorical_fare
0,NaN,S,3,male,0.0,yes,Mr,0,0
1,C85,C,1,female,1.0,no,Mrs,3,3
2,NaN,S,3,female,1.0,yes,Miss,1,1
3,C123,S,1,female,1.0,no,Mrs,2,3
4,NaN,S,3,male,0.0,yes,Mr,2,1
5,NaN,Q,3,male,0.0,yes,Mr,1,1
6,E46,S,1,male,0.0,no,Mr,3,3
7,NaN,S,3,male,0.0,yes,Master,0,2
8,NaN,S,3,female,1.0,yes,Mrs,1,1
9,NaN,C,2,female,1.0,yes,Mrs,0,2
10,G6,S,3,female,1.0,no,Miss,0,2
11,C103,S,1,female,1.0,no,Miss,3,2
12,NaN,S,3,male,0.0,yes,Mr,0,1
13,NaN,S,3,male,0.0,yes,Mr,3,3
14,NaN,S,3,female,0.0,yes,Miss,0,0
15,NaN,S,2,female,1.0,yes,Mrs,3,2
16,NaN,Q,3,male,0.0,yes,Master,0,2
17,NaN,S,2,male,1.0,yes,Mr,1,1
18,NaN,S,3,female,0.0,yes,Mrs,2,2
19,NaN,C,3,female,1.0,yes,Mrs,1,0
20,NaN,S,2,male,0.0,yes,Mr,2,2
21,D56,S,2,male,1.0,no,Mr,2,1
22,NaN,Q,3,female,1.0,yes,Miss,0,1
23,A6,S,1,male,1.0,no,Mr,1,3
24,NaN,S,3,female,0.0,yes,Miss,0,2
25,NaN,S,3,female,1.0,yes,Mrs,3,3
26,NaN,C,3,male,0.0,yes,Mr,1,0
27,C23 C25 C27,S,1,male,0.0,no,Mr,0,3
28,NaN,Q,3,female,1.0,yes,Miss,1,0
29,NaN,S,3,male,0.0,yes,Mr,1,0
...,...,...,...,...,...,...,...,...,...
861,NaN,S,2,male,0.0,yes,Mr,0,1
862,D17,S,1,female,1.0,no,Mrs,3,2
863,NaN,S,3,female,0.0,yes,Miss,1,3
864,NaN,S,2,male,0.0,yes,Mr,1,1
865,NaN,S,2,female,1.0,yes,Mrs,3,1
866,NaN,C,2,female,1.0,yes,Miss,1,1
867,A24,S,1,male,0.0,no,Mr,2,3
868,NaN,S,3,male,0.0,yes,Mr,1,1
869,NaN,S,3,male,1.0,yes,Master,0,1
870,NaN,S,3,male,0.0,yes,Mr,1,0
871,D35,S,1,female,1.0,no,Mrs,3,3
872,B51 B53 B55,S,1,male,0.0,no,Mr,2,0
873,NaN,S,3,male,0.0,yes,Mr,3,1
874,NaN,C,2,female,1.0,yes,Mrs,1,2
875,NaN,C,3,female,1.0,yes,Miss,0,0
876,NaN,S,3,male,0.0,yes,Mr,0,1
877,NaN,S,3,male,0.0,yes,Mr,0,0
878,NaN,S,3,male,0.0,yes,Mr,1,0
879,C50,C,1,female,1.0,no,Mrs,3,3
880,NaN,S,2,female,1.0,yes,Mrs,1,2
881,NaN,S,3,male,0.0,yes,Mr,2,0
882,NaN,S,3,female,0.0,yes,Miss,0,1
883,NaN,S,2,male,0.0,yes,Mr,1,1
884,NaN,S,3,male,0.0,yes,Mr,1,0
885,NaN,Q,3,female,0.0,yes,Mrs,3,2
886,NaN,S,2,male,0.0,yes,Rev,1,1
887,B42,S,1,female,1.0,no,Miss,0,2
888,NaN,S,3,female,0.0,yes,Miss,1,2
889,C148,C,1,male,1.0,no,Mr,1,2
890,NaN,Q,3,male,0.0,yes,Mr,2,0

In [75]:
dt= pd.get_dummies(dt)
dt

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Categorical_age,Categorical_fare,Cabin_A10,...,Title_Master,Title_Miss,Title_Mlle,Title_Mme,Title_Mr,Title_Mrs,Title_Ms,Title_Rev,Title_Sir,Title_the Countess
0,22.000000,7.2500,0,1,3,1,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,38.000000,71.2833,0,2,1,1,1.0,3,3,0,...,0,0,0,0,0,1,0,0,0,0
2,26.000000,7.9250,0,3,3,0,1.0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
3,35.000000,53.1000,0,4,1,1,1.0,2,3,0,...,0,0,0,0,0,1,0,0,0,0
4,35.000000,8.0500,0,5,3,0,0.0,2,1,0,...,0,0,0,0,1,0,0,0,0,0
5,29.699118,8.4583,0,6,3,0,0.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
6,54.000000,51.8625,0,7,1,0,0.0,3,3,0,...,0,0,0,0,1,0,0,0,0,0
7,2.000000,21.0750,1,8,3,3,0.0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
8,27.000000,11.1333,2,9,3,0,1.0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
9,14.000000,30.0708,0,10,2,1,1.0,0,2,0,...,0,0,0,0,0,1,0,0,0,0
10,4.000000,16.7000,1,11,3,1,1.0,0,2,0,...,0,1,0,0,0,0,0,0,0,0
11,58.000000,26.5500,0,12,1,0,1.0,3,2,0,...,0,1,0,0,0,0,0,0,0,0
12,20.000000,8.0500,0,13,3,0,0.0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
13,39.000000,31.2750,5,14,3,1,0.0,3,3,0,...,0,0,0,0,1,0,0,0,0,0
14,14.000000,7.8542,0,15,3,0,0.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15,55.000000,16.0000,0,16,2,0,1.0,3,2,0,...,0,0,0,0,0,1,0,0,0,0
16,2.000000,29.1250,1,17,3,4,0.0,0,2,0,...,1,0,0,0,0,0,0,0,0,0
17,29.699118,13.0000,0,18,2,0,1.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
18,31.000000,18.0000,0,19,3,1,0.0,2,2,0,...,0,0,0,0,0,1,0,0,0,0
19,29.699118,7.2250,0,20,3,0,1.0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
20,35.000000,26.0000,0,21,2,0,0.0,2,2,0,...,0,0,0,0,1,0,0,0,0,0
21,34.000000,13.0000,0,22,2,0,1.0,2,1,0,...,0,0,0,0,1,0,0,0,0,0
22,15.000000,8.0292,0,23,3,0,1.0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
23,28.000000,35.5000,0,24,1,0,1.0,1,3,0,...,0,0,0,0,1,0,0,0,0,0
24,8.000000,21.0750,1,25,3,3,0.0,0,2,0,...,0,1,0,0,0,0,0,0,0,0
25,38.000000,31.3875,5,26,3,1,1.0,3,3,0,...,0,0,0,0,0,1,0,0,0,0
26,29.699118,7.2250,0,27,3,0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
27,19.000000,263.0000,2,28,1,3,0.0,0,3,0,...,0,0,0,0,1,0,0,0,0,0
28,29.699118,7.8792,0,29,3,0,1.0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
29,29.699118,7.8958,0,30,3,0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.000000,11.5000,0,862,2,1,0.0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
862,48.000000,25.9292,0,863,1,0,1.0,3,2,0,...,0,0,0,0,0,1,0,0,0,0
863,29.699118,69.5500,2,864,3,8,0.0,1,3,0,...,0,1,0,0,0,0,0,0,0,0
864,24.000000,13.0000,0,865,2,0,0.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
865,42.000000,13.0000,0,866,2,0,1.0,3,1,0,...,0,0,0,0,0,1,0,0,0,0
866,27.000000,13.8583,0,867,2,1,1.0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
867,31.000000,50.4958,0,868,1,0,0.0,2,3,0,...,0,0,0,0,1,0,0,0,0,0
868,29.699118,9.5000,0,869,3,0,0.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
869,4.000000,11.1333,1,870,3,1,1.0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
870,26.000000,7.8958,0,871,3,0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
871,47.000000,52.5542,1,872,1,1,1.0,3,3,0,...,0,0,0,0,0,1,0,0,0,0
872,33.000000,5.0000,0,873,1,0,0.0,2,0,0,...,0,0,0,0,1,0,0,0,0,0
873,47.000000,9.0000,0,874,3,0,0.0,3,1,0,...,0,0,0,0,1,0,0,0,0,0
874,28.000000,24.0000,0,875,2,1,1.0,1,2,0,...,0,0,0,0,0,1,0,0,0,0
875,15.000000,7.2250,0,876,3,0,1.0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
876,20.000000,9.8458,0,877,3,0,0.0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
877,19.000000,7.8958,0,878,3,0,0.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
878,29.699118,7.8958,0,879,3,0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
879,56.000000,83.1583,1,880,1,0,1.0,3,3,0,...,0,0,0,0,0,1,0,0,0,0
880,25.000000,26.0000,1,881,2,0,1.0,1,2,0,...,0,0,0,0,0,1,0,0,0,0
881,33.000000,7.8958,0,882,3,0,0.0,2,0,0,...,0,0,0,0,1,0,0,0,0,0
882,22.000000,10.5167,0,883,3,0,0.0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
883,28.000000,10.5000,0,884,2,0,0.0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
884,25.000000,7.0500,0,885,3,0,0.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
885,39.000000,29.1250,5,886,3,0,0.0,3,2,0,...,0,0,0,0,0,1,0,0,0,0
886,27.000000,13.0000,0,887,2,0,0.0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
887,19.000000,30.0000,0,888,1,0,1.0,0,2,0,...,0,1,0,0,0,0,0,0,0,0
888,29.699118,23.4500,2,889,3,1,0.0,1,2,0,...,0,1,0,0,0,0,0,0,0,0
889,26.000000,30.0000,0,890,1,0,1.0,1,2,0,...,0,0,0,0,1,0,0,0,0,0
890,32.000000,7.7500,0,891,3,0,0.0,2,0,0,...,0,0,0,0,1,0,0,0,0,0

In [76]:
X = dt.drop(["Survived"],axis = 1)

In [77]:
Y = dt["Survived"]

In [78]:
from sklearn.model_selection import train_test_split

In [79]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)

In [80]:
from sklearn.linear_model import LogisticRegression

In [81]:
reg = LogisticRegression()
reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [82]:
pred = reg.predict(X_test)

In [83]:
result = pd.DataFrame({"Predicted":pred,"Actual":Y_test})

In [84]:
result

     Predicted  Actual
435        1.0     1.0
470        0.0     0.0
538        0.0     0.0
373        1.0     0.0
312        1.0     0.0
119        0.0     0.0
335        0.0     0.0
765        1.0     1.0
408        0.0     0.0
324        0.0     0.0
716        1.0     1.0
576        1.0     1.0
849        1.0     1.0
606        0.0     0.0
811        0.0     0.0
274        1.0     1.0
168        0.0     0.0
306        1.0     1.0
47         1.0     1.0
371        0.0     0.0
468        0.0     0.0
582        0.0     0.0
291        1.0     1.0
315        1.0     1.0
486        1.0     1.0
556        1.0     1.0
123        1.0     1.0
39         1.0     1.0
129        0.0     0.0
503        1.0     0.0
..         ...     ...
226        0.0     1.0
526        1.0     1.0
60         0.0     0.0
207        0.0     1.0
256        1.0     1.0
214        0.0     0.0
774        0.0     1.0
534        1.0     0.0
527        1.0     0.0
843        0.0     0.0
561        0.0     0.0
502        1.0     0.0
239        0.0     0.0
726        1.0     1.0
475        0.0     0.0
287        0.0     0.0
513        1.0     1.0
333        0.0     0.0
354        0.0     0.0
405        0.0     0.0
78         1.0     1.0
585        1.0     1.0
380        1.0     1.0
434        0.0     0.0
419        1.0     0.0
766        1.0     0.0
625        0.0     0.0
635        1.0     1.0
798        0.0     0.0
425        0.0     0.0

[268 rows x 2 columns]

In [85]:
reg.score(X_test,Y_test)*100

81.71641791044776