In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import mpl_toolkits
import matplotlib.pyplot as mlt
from sklearn.preprocessing import *
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline
from sklearn import preprocessing

In [47]:
df1 = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/train.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/Shreyas3108/Titanic-EDA-and-Survival-prediction/master/test.csv')
df = pd.concat([df1, df2])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450

In [49]:
df.isnull().sum()

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [50]:
a = df.dropna(subset = ['Survived'],inplace=True)
a

In [51]:
df.isnull().sum()

Age            177
Cabin          687
Embarked         2
Fare             0
Name             0
Parch            0
PassengerId      0
Pclass           0
Sex              0
SibSp            0
Survived         0
Ticket           0
dtype: int64

In [52]:
df['Has_Cabin'] = np.where(df['Cabin'].isnull(), 'yes', 'no')
df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,yes
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,no
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,yes
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,yes
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,yes
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,no
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,no
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,yes
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,yes
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,yes
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,yes
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,yes
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,yes
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,yes
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,yes
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,yes
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,no
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,yes
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,no
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,yes
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,yes
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,yes
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,no
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,yes
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,yes
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,no
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,yes
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,yes
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,yes
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,yes
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,no
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,yes
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,yes
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,yes
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,no
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,no
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,yes
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,yes
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,yes
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,yes
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,yes
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,yes
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,no
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,yes
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,yes
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,yes
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,yes
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,yes
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,yes
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,yes
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,no
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,yes
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,no
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,yes

In [53]:
df['Title']= df.Name.str.extract(r',\s*([^\.]*)\s*\.', expand=False)

In [54]:
df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes,Mr
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no,Mrs
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes,Miss
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no,Mrs
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes,Mr
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,yes,Mr
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,no,Mr
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,yes,Master
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,yes,Mrs
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,yes,Mrs
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,no,Miss
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,no,Miss
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,yes,Mr
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,yes,Mr
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,yes,Miss
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,yes,Mrs
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,yes,Master
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,yes,Mr
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,yes,Mrs
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,yes,Mrs
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,yes,Mr
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,no,Mr
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,yes,Miss
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,no,Mr
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,yes,Miss
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,yes,Mrs
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,yes,Mr
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,no,Mr
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,yes,Miss
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,yes,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,yes,Mr
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,no,Mrs
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,yes,Miss
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,yes,Mr
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,yes,Mrs
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,yes,Miss
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,no,Mr
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,yes,Mr
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,yes,Master
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,yes,Mr
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,no,Mrs
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,no,Mr
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,yes,Mr
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,yes,Mrs
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,yes,Miss
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,yes,Mr
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,yes,Mr
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,yes,Mr
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,no,Mrs
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,yes,Mrs
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,yes,Mr
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,yes,Miss
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,yes,Mr
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,yes,Mr
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,yes,Mrs
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,yes,Rev
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,no,Miss
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,yes,Miss
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,no,Mr
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,yes,Mr

In [55]:
result = df.fillna(df.mean())
result = df.fillna(df.mode)
result.isnull().sum()

Age            0
Cabin          0
Embarked       0
Fare           0
Name           0
Parch          0
PassengerId    0
Pclass         0
Sex            0
SibSp          0
Survived       0
Ticket         0
Has_Cabin      0
Title          0
dtype: int64

In [56]:
df['Categorical_age'] = pd.qcut(df['Age'],3 ,labels=False)
df['Categorical_fare'] = pd.qcut(df['Fare'],3 ,labels=False)
df

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Title,Categorical_age,Categorical_fare
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,yes,Mr,0.0,0
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,no,Mrs,2.0,2
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,yes,Miss,1.0,0
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,no,Mrs,2.0,2
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,yes,Mr,2.0,0
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,yes,Mr,NaN,0
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,no,Mr,2.0,2
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,yes,Master,0.0,1
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,yes,Mrs,1.0,1
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,yes,Mrs,0.0,2
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,no,Miss,0.0,1
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,no,Miss,2.0,2
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,yes,Mr,0.0,0
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,yes,Mr,2.0,2
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,yes,Miss,0.0,0
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,yes,Mrs,2.0,1
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,yes,Master,0.0,2
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,yes,Mr,NaN,1
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,yes,Mrs,1.0,1
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,yes,Mrs,NaN,0
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,yes,Mr,2.0,1
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,no,Mr,1.0,1
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,yes,Miss,0.0,0
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,no,Mr,1.0,2
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,yes,Miss,0.0,1
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,yes,Mrs,2.0,2
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,yes,Mr,NaN,0
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,no,Mr,0.0,2
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,yes,Miss,NaN,0
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,yes,Mr,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,yes,Mr,0.0,1
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,no,Mrs,2.0,1
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,yes,Miss,NaN,2
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,yes,Mr,1.0,1
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,yes,Mrs,2.0,1
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,yes,Miss,1.0,1
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,no,Mr,1.0,2
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,yes,Mr,NaN,1
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,yes,Master,0.0,1
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,yes,Mr,1.0,0
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,no,Mrs,2.0,2
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,no,Mr,1.0,0
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,yes,Mr,2.0,1
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,yes,Mrs,1.0,1
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,yes,Miss,0.0,0
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,yes,Mr,0.0,1
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,yes,Mr,0.0,0
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,yes,Mr,NaN,0
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,no,Mrs,2.0,2
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,yes,Mrs,1.0,1
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,yes,Mr,1.0,0
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,yes,Miss,0.0,1
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,yes,Mr,1.0,1
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,yes,Mr,1.0,0
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,yes,Mrs,2.0,2
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,yes,Rev,1.0,1
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,no,Miss,0.0,2
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,yes,Miss,NaN,1
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,no,Mr,1.0,2
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,yes,Mr,1.0,0

In [57]:
df.drop(['Name', 'PassengerId', 'Ticket', 'Age', 'Fare', 'SibSp', 'Parch'],axis=1)

,Cabin,Embarked,Pclass,Sex,Survived,Has_Cabin,Title,Categorical_age,Categorical_fare
0,NaN,S,3,male,0.0,yes,Mr,0.0,0
1,C85,C,1,female,1.0,no,Mrs,2.0,2
2,NaN,S,3,female,1.0,yes,Miss,1.0,0
3,C123,S,1,female,1.0,no,Mrs,2.0,2
4,NaN,S,3,male,0.0,yes,Mr,2.0,0
5,NaN,Q,3,male,0.0,yes,Mr,NaN,0
6,E46,S,1,male,0.0,no,Mr,2.0,2
7,NaN,S,3,male,0.0,yes,Master,0.0,1
8,NaN,S,3,female,1.0,yes,Mrs,1.0,1
9,NaN,C,2,female,1.0,yes,Mrs,0.0,2
10,G6,S,3,female,1.0,no,Miss,0.0,1
11,C103,S,1,female,1.0,no,Miss,2.0,2
12,NaN,S,3,male,0.0,yes,Mr,0.0,0
13,NaN,S,3,male,0.0,yes,Mr,2.0,2
14,NaN,S,3,female,0.0,yes,Miss,0.0,0
15,NaN,S,2,female,1.0,yes,Mrs,2.0,1
16,NaN,Q,3,male,0.0,yes,Master,0.0,2
17,NaN,S,2,male,1.0,yes,Mr,NaN,1
18,NaN,S,3,female,0.0,yes,Mrs,1.0,1
19,NaN,C,3,female,1.0,yes,Mrs,NaN,0
20,NaN,S,2,male,0.0,yes,Mr,2.0,1
21,D56,S,2,male,1.0,no,Mr,1.0,1
22,NaN,Q,3,female,1.0,yes,Miss,0.0,0
23,A6,S,1,male,1.0,no,Mr,1.0,2
24,NaN,S,3,female,0.0,yes,Miss,0.0,1
25,NaN,S,3,female,1.0,yes,Mrs,2.0,2
26,NaN,C,3,male,0.0,yes,Mr,NaN,0
27,C23 C25 C27,S,1,male,0.0,no,Mr,0.0,2
28,NaN,Q,3,female,1.0,yes,Miss,NaN,0
29,NaN,S,3,male,0.0,yes,Mr,NaN,0
...,...,...,...,...,...,...,...,...,...
861,NaN,S,2,male,0.0,yes,Mr,0.0,1
862,D17,S,1,female,1.0,no,Mrs,2.0,1
863,NaN,S,3,female,0.0,yes,Miss,NaN,2
864,NaN,S,2,male,0.0,yes,Mr,1.0,1
865,NaN,S,2,female,1.0,yes,Mrs,2.0,1
866,NaN,C,2,female,1.0,yes,Miss,1.0,1
867,A24,S,1,male,0.0,no,Mr,1.0,2
868,NaN,S,3,male,0.0,yes,Mr,NaN,1
869,NaN,S,3,male,1.0,yes,Master,0.0,1
870,NaN,S,3,male,0.0,yes,Mr,1.0,0
871,D35,S,1,female,1.0,no,Mrs,2.0,2
872,B51 B53 B55,S,1,male,0.0,no,Mr,1.0,0
873,NaN,S,3,male,0.0,yes,Mr,2.0,1
874,NaN,C,2,female,1.0,yes,Mrs,1.0,1
875,NaN,C,3,female,1.0,yes,Miss,0.0,0
876,NaN,S,3,male,0.0,yes,Mr,0.0,1
877,NaN,S,3,male,0.0,yes,Mr,0.0,0
878,NaN,S,3,male,0.0,yes,Mr,NaN,0
879,C50,C,1,female,1.0,no,Mrs,2.0,2
880,NaN,S,2,female,1.0,yes,Mrs,1.0,1
881,NaN,S,3,male,0.0,yes,Mr,1.0,0
882,NaN,S,3,female,0.0,yes,Miss,0.0,1
883,NaN,S,2,male,0.0,yes,Mr,1.0,1
884,NaN,S,3,male,0.0,yes,Mr,1.0,0
885,NaN,Q,3,female,0.0,yes,Mrs,2.0,2
886,NaN,S,2,male,0.0,yes,Rev,1.0,1
887,B42,S,1,female,1.0,no,Miss,0.0,2
888,NaN,S,3,female,0.0,yes,Miss,NaN,1
889,C148,C,1,male,1.0,no,Mr,1.0,2
890,NaN,Q,3,male,0.0,yes,Mr,1.0,0

In [83]:
df1= pd.get_dummies(df)
df1

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Categorical_age,Categorical_fare,Cabin_A10,...,Title_Master,Title_Miss,Title_Mlle,Title_Mme,Title_Mr,Title_Mrs,Title_Ms,Title_Rev,Title_Sir,Title_the Countess
0,22.0,7.2500,0,1,3,1,0.0,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,38.0,71.2833,0,2,1,1,1.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
2,26.0,7.9250,0,3,3,0,1.0,1.0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,35.0,53.1000,0,4,1,1,1.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
4,35.0,8.0500,0,5,3,0,0.0,2.0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,NaN,8.4583,0,6,3,0,0.0,NaN,0,0,...,0,0,0,0,1,0,0,0,0,0
6,54.0,51.8625,0,7,1,0,0.0,2.0,2,0,...,0,0,0,0,1,0,0,0,0,0
7,2.0,21.0750,1,8,3,3,0.0,0.0,1,0,...,1,0,0,0,0,0,0,0,0,0
8,27.0,11.1333,2,9,3,0,1.0,1.0,1,0,...,0,0,0,0,0,1,0,0,0,0
9,14.0,30.0708,0,10,2,1,1.0,0.0,2,0,...,0,0,0,0,0,1,0,0,0,0
10,4.0,16.7000,1,11,3,1,1.0,0.0,1,0,...,0,1,0,0,0,0,0,0,0,0
11,58.0,26.5500,0,12,1,0,1.0,2.0,2,0,...,0,1,0,0,0,0,0,0,0,0
12,20.0,8.0500,0,13,3,0,0.0,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
13,39.0,31.2750,5,14,3,1,0.0,2.0,2,0,...,0,0,0,0,1,0,0,0,0,0
14,14.0,7.8542,0,15,3,0,0.0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0
15,55.0,16.0000,0,16,2,0,1.0,2.0,1,0,...,0,0,0,0,0,1,0,0,0,0
16,2.0,29.1250,1,17,3,4,0.0,0.0,2,0,...,1,0,0,0,0,0,0,0,0,0
17,NaN,13.0000,0,18,2,0,1.0,NaN,1,0,...,0,0,0,0,1,0,0,0,0,0
18,31.0,18.0000,0,19,3,1,0.0,1.0,1,0,...,0,0,0,0,0,1,0,0,0,0
19,NaN,7.2250,0,20,3,0,1.0,NaN,0,0,...,0,0,0,0,0,1,0,0,0,0
20,35.0,26.0000,0,21,2,0,0.0,2.0,1,0,...,0,0,0,0,1,0,0,0,0,0
21,34.0,13.0000,0,22,2,0,1.0,1.0,1,0,...,0,0,0,0,1,0,0,0,0,0
22,15.0,8.0292,0,23,3,0,1.0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0
23,28.0,35.5000,0,24,1,0,1.0,1.0,2,0,...,0,0,0,0,1,0,0,0,0,0
24,8.0,21.0750,1,25,3,3,0.0,0.0,1,0,...,0,1,0,0,0,0,0,0,0,0
25,38.0,31.3875,5,26,3,1,1.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
26,NaN,7.2250,0,27,3,0,0.0,NaN,0,0,...,0,0,0,0,1,0,0,0,0,0
27,19.0,263.0000,2,28,1,3,0.0,0.0,2,0,...,0,0,0,0,1,0,0,0,0,0
28,NaN,7.8792,0,29,3,0,1.0,NaN,0,0,...,0,1,0,0,0,0,0,0,0,0
29,NaN,7.8958,0,30,3,0,0.0,NaN,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,11.5000,0,862,2,1,0.0,0.0,1,0,...,0,0,0,0,1,0,0,0,0,0
862,48.0,25.9292,0,863,1,0,1.0,2.0,1,0,...,0,0,0,0,0,1,0,0,0,0
863,NaN,69.5500,2,864,3,8,0.0,NaN,2,0,...,0,1,0,0,0,0,0,0,0,0
864,24.0,13.0000,0,865,2,0,0.0,1.0,1,0,...,0,0,0,0,1,0,0,0,0,0
865,42.0,13.0000,0,866,2,0,1.0,2.0,1,0,...,0,0,0,0,0,1,0,0,0,0
866,27.0,13.8583,0,867,2,1,1.0,1.0,1,0,...,0,1,0,0,0,0,0,0,0,0
867,31.0,50.4958,0,868,1,0,0.0,1.0,2,0,...,0,0,0,0,1,0,0,0,0,0
868,NaN,9.5000,0,869,3,0,0.0,NaN,1,0,...,0,0,0,0,1,0,0,0,0,0
869,4.0,11.1333,1,870,3,1,1.0,0.0,1,0,...,1,0,0,0,0,0,0,0,0,0
870,26.0,7.8958,0,871,3,0,0.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,0
871,47.0,52.5542,1,872,1,1,1.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
872,33.0,5.0000,0,873,1,0,0.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,0
873,47.0,9.0000,0,874,3,0,0.0,2.0,1,0,...,0,0,0,0,1,0,0,0,0,0
874,28.0,24.0000,0,875,2,1,1.0,1.0,1,0,...,0,0,0,0,0,1,0,0,0,0
875,15.0,7.2250,0,876,3,0,1.0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0
876,20.0,9.8458,0,877,3,0,0.0,0.0,1,0,...,0,0,0,0,1,0,0,0,0,0
877,19.0,7.8958,0,878,3,0,0.0,0.0,0,0,...,0,0,0,0,1,0,0,0,0,0
878,NaN,7.8958,0,879,3,0,0.0,NaN,0,0,...,0,0,0,0,1,0,0,0,0,0
879,56.0,83.1583,1,880,1,0,1.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
880,25.0,26.0000,1,881,2,0,1.0,1.0,1,0,...,0,0,0,0,0,1,0,0,0,0
881,33.0,7.8958,0,882,3,0,0.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,0
882,22.0,10.5167,0,883,3,0,0.0,0.0,1,0,...,0,1,0,0,0,0,0,0,0,0
883,28.0,10.5000,0,884,2,0,0.0,1.0,1,0,...,0,0,0,0,1,0,0,0,0,0
884,25.0,7.0500,0,885,3,0,0.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,0
885,39.0,29.1250,5,886,3,0,0.0,2.0,2,0,...,0,0,0,0,0,1,0,0,0,0
886,27.0,13.0000,0,887,2,0,0.0,1.0,1,0,...,0,0,0,0,0,0,0,1,0,0
887,19.0,30.0000,0,888,1,0,1.0,0.0,2,0,...,0,1,0,0,0,0,0,0,0,0
888,NaN,23.4500,2,889,3,1,0.0,NaN,1,0,...,0,1,0,0,0,0,0,0,0,0
889,26.0,30.0000,0,890,1,0,1.0,1.0,2,0,...,0,0,0,0,1,0,0,0,0,0
890,32.0,7.7500,0,891,3,0,0.0,1.0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [84]:
x = df1.drop(['Survived'],axis=1)
y = df1['Survived']

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.80)

In [87]:
from sklearn.linear_model import LogisticRegression

In [88]:
reg=LogisticRegression()
reg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [89]:
y_train.ndim

1